importFrom("graphics", plot)
importFrom("grid", pushViewport, viewport, grid.text, gpar, popViewport)
importFrom("lattice", barchart, panel.lines, panel.superpose, panel.xyplot,
           xyplot)
importFrom("methods", "new", "show")
importFrom("stats", "as.formula", "formula", "median", "quantile",
           "reshape", "sd", "weighted.mean")
importFrom("utils", "tail")

export(
       "backtest"
       )

exportClasses(
              "backtest"
              )

exportMethods(
              "show",
              "summary",
              "summaryStats",
              "plot",
              "means",
              "counts",
              "totalCounts",
              "marginals",
              "naCounts",
              "turnover",
              "ci"
              )
